<table class=" table table-bordered table-hover" *ngIf="success==false">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Promotion</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of listProductAdded; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.productName}}</td>
            <td><img [src]="item.image" alt="" width="40px" height="50px"></td>
            <td>{{item.price}}</td>
            <td>{{item.promotionPrice}}</td>
            <td><input type="number" [value]="item.quantity" #quantity (input)="updateQuantity(item.id,quantity.value,productSum.innerHTML)"></td>
            <td #productSum>{{item.price*(100-item.promotionPrice)/100*item.quantity}}</td>
            <td><button class="btn btn-danger" (click)="deleteProduct(item.id)">Delete</button></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th [colSpan]=7 class="justify-content-end">Thành tiền: {{sumAllProducts}}</th>
        </tr>
    </tfoot>
</table>
<div class="card" *ngIf="success==false">
    <div class="card-header">
        <div>Thông tin khách hàng</div>
    </div>
    <div class="card-body">
        <form [formGroup]="checkoutAddForm" (ngSubmit)="submit()">
            <div class="form-group">
                <label>Họ tên</label>
                <input type="text" class="form-control" placeholder="Họ tên" formControlName="userName">
                <div *ngIf="userName?.invalid && (userName?.dirty || userName?.touched)" style="color:red">
                    <div *ngIf="userName?.errors?.required">
                        Chưa điền họ tên.
                    </div>
                    <div *ngIf="userName?.errors?.minlength">
                        Họ tên dài tối thiểu {{userName?.errors?.minlength.requiredLength}} chữ cái.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Số điện thoại</label>
                <input type="text" class="form-control" placeholder="Số điện thoại" formControlName="phoneNumber">
                <div *ngIf="phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)" style="color:red">
                    <div *ngIf="phoneNumber?.errors?.required">
                        Chưa điền số điện thoại.
                    </div>
                    <div *ngIf="phoneNumber?.errors?.minlength">
                        Số điện thoại dài ít nhất {{phoneNumber?.errors?.minlength.requiredLength}} chữ số.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Địa chỉ</label>
                <textarea class="form-control" rows="3" formControlName="address"></textarea>
                <div *ngIf="address?.invalid && (address?.dirty || address?.touched)" style="color:red">
                    <div *ngIf="address?.errors?.required">
                        Chưa điền địa chỉ.
                    </div>
                    <div *ngIf="address?.errors?.minlength">
                        Địa chỉ dài ít nhất {{address?.errors?.minlength.requiredLength}} chữ cái.
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="checkoutAddForm.invalid">Submit</button>
        </form>
    </div>
</div>
<div class="card" *ngIf="success==true">
    <div class="card-header alert alert-success">Đơn hàng của bạn đang được chờ xác nhận, chúng tôi sẽ liên hệ sau</div>
    <div class="card-header">Thông tin đơn hàng</div>
    <div class="card-body">
        <p class="font-weight-bold">Họ tên: {{userName?.value}}</p>
        <p class="font-weight-bold">SĐT: {{phoneNumber?.value}}</p>
        <p class="font-weight-bold">Địa chỉ: {{address?.value}}</p>
        <table class=" table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Price</th>
                    <th>Promotion</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listProductAdded; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{item.productName}}</td>
                    <td><img [src]="item.image" alt="" width="40px" height="50px"></td>
                    <td>{{item.price}}</td>
                    <td>{{item.promotionPrice}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.price*(100-item.promotionPrice)/100*item.quantity}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th [colSpan]=7 class="justify-content-end">Tổng phải thanh toán: {{sumAllProducts}}</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>