<div class="container">
    <nav class="navbar">
        <a [routerLink]="['/']" class="navbar-brand" href="#" style="color: black;">
            <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo-black.svg" width="30" height="30" class="d-inline-block align-top"> Online-Store
        </a>
        <div class="navbar-text">
            <a class="btn">Products</a>
            <a class="btn">Sale</a>
            <button class="btn btn-warning" [routerLink]="['shopping-cart']">Shopping cart</button>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>