<div class="row">
    <div class="col-3 card" *ngFor="let item of products; let i = index;">
        <img class="card-img-top" [src]="item.image">
        <div class="card-body">
            <h5 class="card-title">{{item.productName}}</h5>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">{{item.price*(100-item.promotionPrice)/100}}</li>
                <li class="list-group-item" style="text-decoration: line-through;">{{item.price}} VND</li>
            </ul>
            <div class="text-center mt-2">
                <button class="btn btn-outline-primary w-100" (click)="addToCart(item)">Add to cart</button>
            </div>
        </div>
    </div>
</div>


<!-- <table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
            <th>Promotion</th>
            <th>Quantity</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of products; let i = index;">
            <td>{{i+1}}</td>
            <td [innerText]="item.productName"></td>
            <td>{{item.price}}</td>
            <td>{{item.promotionPrice}}</td>
            <td>{{item.quantity}}</td>
            <td><img [src]="item.image" [alt]="item.productName" width="50px" height="60px"></td>
            <td>
                <div class="input-group">
                    <button class="btn btn-sm btn-danger" (click)="deleteProduct(item.id)">Delete</button>
                    <button class="btn btn-sm btn-success" [routerLink]="['/edit/'+item.id]" routerLinkActive="router-link-active">Update</button>
                </div>
            </td>
        </tr>
    </tbody>
</table> -->